<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="changepassword.css">
    <title>change password</title>
</head>
<body>
    <% if (passerror){%>
        <div id = "diverror">
            <img src = "/images/error.png" id = "errorimg">
            <h1 >Something went wrong</h1>
        </div>
        <%}%>
    <form action="/chnangepassword" method="post">
       

        <img  id = "imgprofile" src = "data:image/png;base64,<%= (photo).toString('base64') %>">
       <div>
        <label for="password">current password</label>
        <input id="password" type="password" placeholder="Enter the qurent password" name = "currentpassword" required name = "password">
        <label for="newpass">new password</label>
        <input id="newpass" type="password" placeholder="Enter the new password" name = "newpassword" required name = "password">
        <label for="confirmpass">confrme password</label>
        <input id="confirmpass" type="password" placeholder="confirme your password" name = "confirmpassword" required name = "password">
        <input type="submit" name ="save" value="SAVE" id = "save">
        <a href = "/profile"><button id = "cancel">CANCEL</button></a>
      </div>
    </form>
</body>
</html>