<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <% if (checknotlogin) {%>
        <div class = "error">
        <span class = "iconspan"><i class="fa-solid fa-circle-exclamation"></i></span>
        <h1 id ="errorlogin">ERROR: The password or email does not match </h1>
        </div>
    <%}%>
    <div class="login">
        <h1>Login</h1>
        <form action="/home/me" method="post">
            <div class="form">
                <div class="email">
                    <label for="email" class = "translatetextemail">Email</label>
                    <input id="email" type="email" placeholder="Enter Your Email" required name = "email">
                </div>
                <div class="password">
                    <label for="password" class = "translatetextpassword" >Password</label>
                    <input id="password" type="password" placeholder="Enter Your Password" name = "password" required name = "password">
                </div>
                <input type="submit" name = "submit" value="Log in" id="submitlogin">
            </div>
        </form>
        <div class="createaccount">
            <h5>Do not have an account?</h5><a href="/createaccount"> Create one</a>
        </div>
    </div>
    <script src="/dark-mode.js"></script>

</body>

</html>