<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profile.css">
    <title>Profile</title>
</head>
<body>
<div id = "cover"></div>
<div id = "img"></div>
<h1 id = "first_name"><%= res[0].first_name%></h1>
<h1 id = "last_name"><%= res[0].last_name%></h1>
<h1 id = "email"><%= res[0].email%></h1>
<h1 id = "status"><%= res[0].status%></h1>
<% for(let i = 0;i<res.length;i++){%>
    <div>
        <h1>

        </h1>
    </div>
<%}%>


</body>
</html>