*{
    margin:0px;
    padding: 0px;
}

:root{
    --back-color: #F2FFF4;
    --border-color: #429F64;
    --primary:#75d496;
    --secondary:#91e2ada2;
    --text:#101311;
    --active:#1AF30F;
    --third:#cdf9afcb;
    --texthovered:#CAFFA6;
    --clicked:#d6ffe9;
}

:root.dark-mode{
    --back-color: #03750149;
    --border-color: #576300;
    --primary:#75b066;
    --secondary:#1C803A;
    --text:#ffffff;
    --active:#3DD487;
    --third:#4b6f5e;
    --texthovered:#a1f0ae;
    --clicked:#92ad9e;

}
body{
    height:400px;
    background-color:var(--back-color);
}

.create {
    font-size: 18px;
    width: 320px;
    height:110%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border:solid var(--border-color) 5px;
    text-align: center;
    /* background-color:rgb(213, 235, 255); */
}

.email,
.password {
    display: grid;
    gap:3%;
    /* width: 30%; */
    /* height:90%; */
    text-align: start;
    justify-content: center;
    margin : 15px;
}

#email, #password{
    height:35px;
    width: 220px;
    border: var(--border-color) solid 1.4px;
    border-radius: 4px;
    padding-left: 10px;
    background-color:var(--third);
}
.login h1{
    margin-top: 35px;
}

.translatetextemail,.translatetextpassword,.textfirst,.textlast{
    font-size: 15px;
    position: relative;
    top:10px;
    left: 10px;
    background-color: var(--third);
    text-align: center;
}

.translatetextemail{
    width:45px;
}

.translatetextpassword{
    width:73px;
}
.textfirst,.textlast{
    width: 75px;
}

.createaccount h5{
    display: inline-block;
    margin-top: 30px;
    font-size: 17px;
}
.createaccount a{
    text-decoration: none;
    color:var(--border-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#submitlogin{
    background-color: var(--primary);
    border: none;
    width: 70px;
    height: 20px;
    border-radius: 20px;
    margin-top: 10px;
    transition: transform 1s ease-out;
}
#submitlogin:hover
{
    transform: scale(120%,120%);
    background-color: var(--active);
    box-shadow: 0px 0px 20px var(--active);
}
#submitlogin:active{
    background-color:var(--clicked);
    box-shadow: 0px 0px 20px var(--clicked);
}
#errorcreataccount{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 195, 207);
    text-align: center;
    width: 60%;margin-left: 20%;
    color: red;
}