#cover{
    height: 200px;
    background-color: gray;
    border-radius: 20px;
}
#img{
    height:300px;
    width: 300px;
    background-color: rgb(155, 155, 155);
    position: absolute;
    top: 15%;
    left: 10%;
    border-radius: 70px;
    transition: transform 1s ease-out;
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
}
#img:hover{
    transform: scale(105%,105%);
    transition-duration: 2s;
}
#full_name{
    margin-left: 37%;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
#email{
    margin-top: -35px;
    font-size: 25px;
    margin-left: 480px;


}