body{
    margin: 0%;
    background-color:mintcream;
}
#cover{
    height: 200px;
    background-color: gray;
    border-radius: 20px;
}
#img{
    height:240px;
    width: 240px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 10px;
    position: absolute;
    top: 15%;
    left: 10%;
    border-radius: 150px;
    transition: transform 1s ease-out;
   
    
}

#img:hover{
    transform: scale(105%,105%);
    transition-duration: 2s;
}
#full_name{
    margin-left: 37%;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
#email{
    margin-top: -35px;
    font-size: 25px;
    margin-left: 480px;


}
#alldata{
    display: flex;
    gap: 5%;
    margin-top: 10%;
    padding: 5%;
    
}
.divstddata{
    box-shadow: 0px 5px 5px rgb(135, 135, 133);
    border-radius: 30px;
    text-align: center;
}
#personaluserdata{
    border-right: solid;
    border-color: brown;
    padding-right: 2%;

}

#stddata{
    width: 220%;

}
#file{
   
    display: none;
}
#labelfile{
    margin-left: 400px;
    position: absolute;
    top: 40%;
    left: 0%;
    

}
#camera{
    height: 30px;
    width: 30px;
    
}
#reload{
    height: 30px;
    width: 30px;
    
}
#reloadlink{
    margin-left: 97%;
    margin-top: 100px;
    
  
}