/* style.css */

:root{
    --back-color: #F2FFF4;
    --border-color: #429F64;
    --primary:#75d496;
    --secondary:#91e2ada2;
    --text:#101311;
    --active:#0ee9bd;
    --third:#b1ffeff6;
    --texthovered:#CAFFA6;
    --clicked:#d6ffe9;
}

:root.dark-mode{
    --back-color: #03750149;
    --border-color: #576300;
    --primary:#75b066;
    --secondary:#1C803A;
    --text:#ffffff;
    --active:#3DD487;
    --third:#4b6f5e;
    --texthovered:#a1f0ae;
    --clicked:#92ad9e;

}
body {
    font-family: Arial, sans-serif;
    background-color: var(--back-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: var(--third);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px var(--third);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}
#submit {
    background-color: var(--active);
    color: var(--text);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}
